.content-notificacao-batalha {
  background: gray;
  font-family: Roboto;
  background: white;
  position: fixed;
  width: 370px;
  height: 101px;
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 3px;
  top: 110px;
  right: 80px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
}

.button-recusar {
  background: #ce4646;
  border-radius: 3px;
}

.button-aceitar {
  background: #2285a4;
  border-radius: 3px;
  margin-top: 8px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button-recusar,
.button-aceitar {
  width: 106px;
  height: 33px;
  margin-right: 12px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  border: none;
}

.desafio-jogador {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 17px;
  margin-bottom: 10px;
}

.desafio-novo {
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #2285a4;
  font-size: 18px;
  margin-top: 10px;
}

.jogador {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img {
  margin-right: 15px;
}

.text-jogador {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #333333;
  font-size: 30px;
}
